button{
    border-radius:5px;
    border-style: none;
    padding:5px;
  
    color:white;
    font-family:sans-serif;
    background-color:rgb(38, 160, 241);
}
div{
    background-color: green;
    color:white;
    padding:5px;
}
.dark{
    background-color:black;;
}
.light{
    background-color: white;
}