*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#B2BCAA ;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
  
    justify-content: center;
    align-content: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap:1.5vmin;
} 
.box{
   height:18vmin;
   width:18vmin;
   border-radius: 10px;
   border:none;
   font-size:10vmin;
   color:#8C7284;
}
button{
    border:none;
    border-radius:35px;
    font-weight: bold;
    padding:10px;
    background-color: white;
}
.hide{
display:none;
}
.win{
    margin-top:30px;
    background-color: #8C7284;
  color:white;  
}